* { margin: 0; padding: 0; }
img { display: inline-block; max-width: 100%; }

:root {
    --gap: 1em;
}

body { background: #202020; color: #DFDFDF; }

#posters { display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: var(--gap); padding: var(--gap); }
#posters .poster {}
#posters .poster img { aspect-ratio: 1/1; object-fit: cover; border-radius: 1em; box-shadow: 0 0 5px #111; }

.posterView       { background: #000E; text-align: center; display: flex; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; }
.posterView > div { background: #FFF; margin: auto; max-width: 800px; }

.posterView > .close { position: absolute; top: 20px; right: 20px; }